*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
  max-width: 100%;
  height: auto;
}

/* ----------------Header Area--------------------
--------------------------------------------------
----------------------------------------------- */  

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}
.container{
  max-width: 960px;
  width: 96%;
}
.head{
  width: 100%;
}
.header-area{
  width: 100%;
  padding: 15px 0;
  background: #ba2e1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link-bar{
  width: 70%;
}
.link-bar ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 14px;
}
.link-bar ul li{
  list-style: none;
  padding-right: 6px;
  padding-left: 6px;
  border-right: 1px solid #ffffff;
  line-height: 12px;
}
.link-bar ul li a{
  text-decoration: none;
  color: #ffffff;
} 
.link-bar ul li:last-child{
  border-right: none;
}

/* ----------------Search-bar--------------------
--------------------------------------------------
----------------------------------------------- */

.search-bar{
  width: 30%;
  height: 25px;
  float: right;
  padding-right: 20px;
}
.search-bar form{
  max-width: 210px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 25px;
}
.search{
  width: 70%;
  padding: 0% 5%;
}
.search input[type="text"]{
  background: #ffffff;
  border: none;
  outline: none;
  color: black;
  width: 130%;
}
.search-bar form .btn{
  display: flex;
  justify-content: end;
  position: relative;
  top: 2px;
  width: 20%;
}
.search-bar form .btn button{
  border: none;
  outline: none;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.search-bar form .btn button img{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffffff;
}


/* ----------------Logo-Area--------------------
--------------------------------------------------
----------------------------------------------- */
.logo-section{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 30px;
  overflow: hidden;
}
.logo-area{
  position: relative;
  left: 20px;
  width: 40%;
}


/* ----------------Social-Area--------------------
--------------------------------------------------
----------------------------------------------- */


.social-area{
 width: 60%;
}
.social-area ul{
  display: flex;
  justify-content: end;
  position: relative;
  right: 20px;
  top: 10px;
}
.social-area ul li{
  list-style: none;
  padding-left: 10px;
  
}
.social-area ul li a{
  text-decoration: none;
}
.social-area ul li a i{
  background: #333333;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-area ul li a:hover{
  background: #ba2e1f
}
.social-area ul li a:hover i.fa-linkedin-in{
  background: #007BB5;
}
.social-area ul li a:hover i.fa-twitter{
  background: #00ACED;
}
.social-area ul li a:hover i.fa-pinterest{
  background: #CB2027;
}
.social-area ul li a:hover i.fa-google-plus-g{
  background: #DD4B39;
}
.social-area ul li a:hover i.fa-rss{
  background: #EF802E;
}

/* ----------------Menu-Area--------------------
--------------------------------------------------
----------------------------------------------- */
.menu{
  display: flex;
  justify-content: center;
}
.menu-section{
  width: 96%;
  background: #333333;
  position: relative;
  border-radius: 5px;
  z-index: 1;
  
}
.menu-section::after{
  height: 50%;
  width: 100%;
  background: #2b2b2b;
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  z-index: -1;
  border-radius: 5px;
}
.menu-section ul{
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 13.5px;
}

.menu-section ul li a{
  text-decoration: none;
  padding-right: 27px;
  font-size: 12px;
  color: #e9e8e3;
}
.menu-section ul li a:hover{
  color: #ba2e1f;
}
.menu-section ul li:hover a{
  color: #ba2e1f;
}
.menu-section ul li:hover ul li a{
  color: #fff;
}




/* ----------------Img-Slider-Area--------------------
------------------------------------------------------
----------------------------------------------------*/
.slider{
  display: flex;
  justify-content: center;
}
.slider-area-section{
  width: 96%;
  margin-top: 25px;
}

/* ----------------Hero-Area--------------------
------------------------------------------------------
----------------------------------------------------*/


.hero-area{
  width: 100%;
  display: flex;
  max-width: 960px;
}
.img-area-1{
  width: 40%;
  margin-left: 20px;
}
.text-area-1{
  width: 60%;
  padding-left: 80px;
}
.title-name{
  font-size: 96px;
}
.text-area-1 p{
  font-size: 16px;
}
.read-more{
  margin-top: 23px;
  text-align: right;
}
.read-more a{
  text-decoration: none;
  color: #ba2e1f;
}


/* ----------------Content-Area--------------------
------------------------------------------------------
----------------------------------------------------*/

.content-area{
  width: 100%;
  background: #f2f2f2;
  display: flex;
  margin-top: 40px;
  padding-bottom: 50px;
}
.content-one{
  width: 30%;
  max-width: 300px;
  margin-left: 20px;
}
.title-1{
  font-size: 26px;
  padding-top: 45px;
}
.content-one .img-1{
  padding-top: 40px;
  border: 5px solid #f2f2f2;
  margin-left: -5px;
}
.content-one p{
  padding-top: 10px;
  font-size: 15px;
}
.content-one .text{
  padding-top: 25px;
}
.content-one h5{
  padding-top: 25px;
  text-align: right;
  color: #ba2e1f;
}
.content-two{
  width: 30%;
  max-width: 300px;
  margin-left: 27.5px;
}
.service-1{
  display: flex;
}
.first-service{
  padding-top: 5px;
}
.img-2{
  display: flex;
  padding-top: 40px;
}
.title-2{
  font-size: 14px;
  font-weight: bold;
  padding: 40px 0 0 18px;
}
.text-2 p{
  padding: 10px 0 0 18px;
  font-size: 14px;
}
.item{
  padding-top: 0px;
}
.item h5{
  font-size: 13px;
  color: #ba2e1f;
  text-align: right;
  padding-top: 20px;
}

.last-content{
  width: 30%;
  max-width: 300px;
  margin-left: 27.5px;
}

.img-3{
  padding-top: 45px;
  display: flex;
  align-items: center;
}
.img-3 h5{
  padding-left: 10px;
  font-size: 16px;
}
.content-three p{
  padding-top: 5px;
  padding-top: 5px;
  font-size: 15px;
}
.ton{
  font-size: 13px;
  color: #ba2e1f;
  text-align: right;
  padding-top: 5px;
}



/* ----------------Footer-area--------------------
------------------------------------------------------
----------------------------------------------------*/

.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  background: #ffffff;
}
.title-3{
  width: 100%;
  font-size: 16px;
  padding-top: 40px;
}
.div{
  border-top: 2px solid #666666;
  margin-top: 40px;
}
.tweets{
  width: 24%;
  max-width: 210px;
  color: #666666;
  margin-left: 1%;
}
.tweets p{
  font-size: 13px;
  padding-top: 20px;
}
.tweets .p-2{
  padding-top: 30px;
}





.links{
  width: 25%;
  max-width: 210px;
  margin-left: 40px;
}
.links ul{
  font-size: 13px;
  list-style: none;
  padding: 20px 0px 30px 0px;
}
.links ul li{
  width: 100%;
  padding-bottom: 6px;
  border-bottom: 1px solid #666666;
  padding-top: 6px;
}
.links ul li:first-child{
  padding-top: 0px;
}
.links ul li a{
  text-decoration: none;
  color: #666666;
}




.blogs{
  display: flex;
  flex-direction: column;
  width: 25%;
  max-width: 210px;
  margin-left: 40px;
}
.blogs-1{
  width: 210px;
}
.blogs-1 h2{
  font-size: 14px;
  color: #666666;
  padding-top: 15px;
}
.blogs-1 .admin{
  padding-top: 10px;
  font-size: 12px;
  color: #666666;
}
.blogs-1 .admin-2{
  padding-top: 10px;
  font-size: 13px;
  color: #666666;
}
.blogs-1 h5{
  color: #ba2e1f;
  text-align: right;
  padding-top: 10px;
}



.forms{
  width: 24%;
  max-width: 210px;
  margin-left: 40px;
  margin-right: 1%;
}
.name , .email , .subject{
  padding-top: 15px;
}
.name input{
  width: 100%;
  height: 30px;
  font-size: 13px;
  color: #989898;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #f2f2f2;
  padding-left: 10px;
}
.email input{
  width: 100%;
  height: 30px;
  font-size: 13px;
  color: #989898;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #f2f2f2;
  padding-left: 10px;
}
.subject input{
  width: 100%;
  height: 30px;
  font-size: 13px;
  color: #989898;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #f2f2f2;
  padding-left: 10px;
}
.text-area{
  width: 100%;
  margin-top: 15px;
}
.text-area  textarea{
  width: 100%;
  height: 110px;
  font-size: 13px;
  color: #989898;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #f2f2f2;
  padding-left: 10px;
}
.btn-1{
  padding-top: 15px;
}
.btn-1 input{
  width: 80px;
  height: 30px;
  font-size: 13px;
  color: #989898;
  border-radius: 5px;
  border: none;
  background: #f2f2f2;
  text-align: center;
  color: #ba2e1f;
}



/* ----------------Last-area--------------------
--------------------------------------------------
----------------------------------------------- */

.last{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.last-area{
  width: 100%;
  padding: 20px;
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy-right{
  width: 70%;
  padding-left: 20px;
}
.template{
  width: 30%;
  padding-right: 20px;
  text-align: right;
}